
footer {
    background-color: #201c1c;
    color: white;
    padding: 30px;
    height: auto; 
     }
     
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter {
   
    width: 50%;
}


.imagen{
    display: block; 
    
}

.newsletter-input {
    display: flex;
    align-items: center;
}

.newsletter-input label {
    margin-right: 10px;
}

.newsletter-input input[type="email"] {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.newsletter-input button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.imagen {
    margin-bottom: auto; 
    margin-left: auto;
}

.imagen img {
    max-width: 100%; 
    height: 10%;
    width: 20%;
    margin-left: 200px;
}

.newsletter img {
    max-width: 100%; 
    height: 10%;
    width: 20%;
    margin-left: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    width: 26%; 
    padding: 5px;
    text-align: center;
    margin-right: 2%;
    font-family: 'Noto Sans', sans-serif;
}
li:last-child {
    margin-right: 0;
}
a {
    text-decoration: none; 
    color: white;
}

.creditos{
    text-align: center;
    margin-top: 50px;
    
}

