.titulo {
    border: solid 1px red;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4%;
    margin-right:7%;
    padding: 0%;
}
.imagen {
    margin-bottom: 4%;
}
/* Estilos para la imagen grande */

.texto-sobre-imagen {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    margin: 20%;
    z-index: 1; /* Coloca el texto encima de la imagen */
}

.imagen.grande img {
    margin-left: 55%;
    width: 101%;
    height: auto;
}

/* Estilos para las imágenes pequeñas */
.imagenes-pequenas {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.imagenes-pequenas .imagen {
    width: 45%; /* Dos imágenes pequeñas por fila */
}

.titulo-imagen {
    width: 50%;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

/* CSS DE SOBRE NOSOTROS */

.contenedor-sn {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.texto {
    display: block;
    margin-right: 5%;
}

.titulo-sn{
    text-align: center;
    font-size: 7rem;
    margin-top: 2%;
    padding: 0%;
}

.imagen-sn{
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 60vh;
    height: 70vh;
}
