body{
    background-color: #ebebeb;
}
.contenedor-datos{
    background-color: #E9F3F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 180px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
}

.datos-mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.datos-mensaje h2, h3{
    margin: 4px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.datos-mensaje h3{
    color: #5E5E5E;
}

.datos-mensaje h3{
    font-size: 14px;
}

.datos-seleccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: 15px;
    width: 80%;
}

.datos-calendario, .datos-persona{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffff;
    padding: 0 40px;
    border-radius: 10px;
    cursor: pointer;
}

.datos-calendario img{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.datos-calendario h2, .datos-persona h2{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    
}

.datos-persona h2{
    margin-right: 10px;
    margin-left: 10px;
}

.datos-button button{
    font-size: 14px;
    background-color: #65AEF2;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    padding: 11px 10px;
    color: #ffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:600;
}




.texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    margin: 0 auto;
    width: 80%;
}

.texto h2, h3, p{
    font-family: "Inter", sans-serif;
}

.texto h2{
    color: #65AEF2;
    font-weight: bold;
}

.texto h3{
    font-weight: 800;
    margin: 20px 0
}

.button-card{
    border: none;
    background: none;
    font-family:"Inter", sans-serif; 
    color: #65AEF2;
    cursor: pointer;
}


.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.card1{
    width: 330px;
    height: 450px;
    background-color: #ffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card1 img{
    width: 295px;
    height: 220px;
    margin: 0 auto;
    margin-top: 10px;
}

.card1 h2, h3, h4, h5{
    margin:4px 14px;
    font-family: "Inter", sans-serif;
}

.card1 h2{
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #5E5E5E;
}

.card1 h4{
    margin-top: 20px;
    font-weight: 100;
    font-size: 15px;
    color: #5E5E5E;
    font-weight: bold;
}

.card-precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family:"Inter", sans-serif; 
}

.card-precio .precio{
    font-weight: 800;
    font-size: 25px;
    
}

