
.contenedorAddAlojamientos {
  padding: 20px;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 800px; 
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.centrado {
  display: flex;
  justify-content: center;
}
.contenedorAddAlojamientos h2 {
  color: #333;
}

.contenedorAddAlojamientos p {
  color: #666;
}
.datos-negros {
  color: black;
  text-align: left;
}

.contenedorAddAlojamientos form {
  width: 100%;
}

.contenedorAddAlojamientos form div {
  margin-bottom: 10px;
}

.contenedorAddAlojamientos form div label {
  display: block;
  margin-bottom: 5px;
}

.contenedorAddAlojamientos form div input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.contenedorAddAlojamientos form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px; 
}

.seccion {
  display: none;
}

.seccion.mostrar {
  display: block;
}

.div-botones {
  display: flex;
  justify-content: center;
  background-color: #007bff;
}

.boton-nav {
  background-color: #007bff;
  color: #f5f5f5;
  padding: 1%;
  margin: 1%;
  border-radius: 7%;
  border: none;
  cursor:pointer;
}

.lista_alojamientos {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #007bff;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .div-botones {
    flex-direction: column; /* Cambia a columna en dispositivos móviles */
    align-items: center;
  }

  .boton-nav {
    width: 100%; /* Ajusta los botones para que tomen el 100% del ancho */
    margin: 5px 0; /* Ajusta el margen para separar los botones verticalmente */
  }
}